---
layout: default
---

<div class="home">
  {{ content }}

  {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <a href="https://github.com/wangyunai/YunWang-Blog/edit/main/{{ post.path }}" class="admin-only">Edit</a>
        </h2>
        <p class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%B %-d, %Y" }}
          </time>
          {% if post.categories.size > 0 %}
          • Categories: 
              {% for category in post.categories %}
              <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
          {% endif %}
        </p>
        <div class="post-excerpt">
          {{ post.excerpt }}
          <a href="{{ post.url | relative_url }}" class="read-more">Read More &raquo;</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div> 