---
layout: default
---

<div class="home">
  <div class="home-intro">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>

  {% if site.posts.size > 0 %}
    <h2>Latest Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <a href="https://github.com/wangyunai/YunWang-Blog/edit/main/{{ post.path }}" class="admin-only">Edit</a>
        </h2>
        <p class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%B %-d, %Y" }}
          </time>
          {% if post.categories.size > 0 %}
          <span class="category-label">•</span>
              {% for category in post.categories %}
              <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}" class="category-badge">{{ category }}</a>{% unless forloop.last %} {% endunless %}
              {% endfor %}
          {% endif %}
        </p>
        <div class="post-excerpt">
          {% assign excerpt_content = post.excerpt | strip_html | strip | remove: post.title %}
          {% if excerpt_content != "" %}
            {{ excerpt_content | truncatewords: 30 }}
          {% endif %}
          <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div> 